.resume {
  // display: flex;
  // -webkit-box-pack: center;
  // justify-content: center;
  // width: 50%;
  min-height: 100vh;
  background-color: rgb(239, 242, 249);
}
.builder {
}
.preview {
  background-color: rgb(239, 242, 249);
  // color: rgb(255, 255, 255);
}
.sub-text {
  margin-top: 2px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(130, 139, 162);
}
.title {
  font-size: 23px;
  line-height: 28px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
  height: 28px;
  font-weight: 600;
}

.bg-white-group {
  padding: 20px 36px 20px;
  background-color: rgb(255, 255, 255);
  transition: 200ms ease-in;
  border-radius: 12px 12px 0px 0px;
}

input,
textarea {
  border-radius: 3px;
  padding: 12px 16px;
  width: 100%;
  display: block;
  caret-color: rgb(26, 145, 240);
  background-color: rgb(239, 242, 249);
  outline: none;
  border: 0px;
  color: rgb(30, 37, 50);
  transition: color 0.1s;
}

.next-button {
  justify-content: center;
  appearance: none;
  outline: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border-width: 0px;
  font-weight: 500;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  border-radius: 4px;
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
  pointer-events: auto;
  color: rgb(255, 255, 255);
  font-size: 19px;
  line-height: 24px;
  padding: 12px 24px;
  background-color: rgb(26, 145, 240);
}
